@model App.Core.Entities.Mail
@{
    ViewData["Title"] = "BandejaEntrada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</head>
<body>
    <h1 style="text-align:center;text-decoration:underline">Bandeja de Entrada</h1>

    <!--  TEXT BOX-->
    <h3>Buscar contacto</h3>
       <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
           <div class="input-group">
               <input class="form-control" type="text" placeholder="Ingrese datos..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button type="button" class="btn btn-primary">Buscar</button>
           </div>
       </form>
       
       <hr />
    <table class="table table-striped table-dark">
        <thead>
            <tr>

                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Asunto</th>
                <th scope="col">Contenido</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>

                <td>02</td>
                <td>Florencia</td>
                <td>Lopez</td>
                <td>flor@gmail.com</td>
                <td>Renuncia</td>
                <td>asdasd asdasd asdasd</td>
                <td>15/12/2023</td>
            </tr>
            <tr>

                <td>12</td>
                <td>Eliana</td>
                <td>Ledesma</td>
                <td>eliana03@gmail.com</td>
                <td>Presentacion Trabajo Final</td>
                <td>asdasd asdasd asdasd</td>
                <td>04/07/2023</td>

            </tr>
        </tbody>
    </table>

</body>

</html>