USE [master]
GO
/****** Object:  Database [webmail]    Script Date: 1 jul. 2023 20:00:32 ******/
CREATE DATABASE [webmail]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'webmail', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\webmail.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'webmail_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\webmail_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [webmail].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [webmail]
GO
/****** Object:  Table [dbo].[contactos]    Script Date: 1 jul. 2023 20:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contactos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_contactos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mails]    Script Date: 1 jul. 2023 20:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[asunto] [varchar](50) NULL,
	[contenido] [text] NULL,
	[remitente_id] [int] NULL,
	[fechaEnvio] [datetime] NULL,
 CONSTRAINT [PK_mails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mails_contactos]    Script Date: 1 jul. 2023 20:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mails_contactos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mail_id] [int] NULL,
	[contacto_id] [int] NULL,
 CONSTRAINT [PK_mails_contactos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 1 jul. 2023 20:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [varchar](50) NULL,
	[contraseña] [varchar](50) NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[mails] ADD  CONSTRAINT [DF_mails_fechaEnvio]  DEFAULT (getdate()) FOR [fechaEnvio]
GO
ALTER TABLE [dbo].[mails]  WITH CHECK ADD  CONSTRAINT [FK_mails_usuarios] FOREIGN KEY([remitente_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[mails] CHECK CONSTRAINT [FK_mails_usuarios]
GO
ALTER TABLE [dbo].[mails_contactos]  WITH CHECK ADD  CONSTRAINT [FK_mails_contactos_contactos] FOREIGN KEY([contacto_id])
REFERENCES [dbo].[contactos] ([id])
GO
ALTER TABLE [dbo].[mails_contactos] CHECK CONSTRAINT [FK_mails_contactos_contactos]
GO
ALTER TABLE [dbo].[mails_contactos]  WITH CHECK ADD  CONSTRAINT [FK_mails_contactos_mails] FOREIGN KEY([mail_id])
REFERENCES [dbo].[mails] ([id])
GO
ALTER TABLE [dbo].[mails_contactos] CHECK CONSTRAINT [FK_mails_contactos_mails]
GO
USE [master]
GO
